.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
}

.title > a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: transparent;
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  margin-inline: 2.5em;
  transition-property: font-weight border-bottom;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
  cursor: pointer;
  color: #4e4e4e;
  text-decoration: none;
}

.links a:hover,
.links a:focus {
  font-weight: 600;
  color: #d41713;
  border-bottom: 2px #d41713 solid;
}

.sign {
  border: none;
  padding: 1.45em 3em;
  border-radius: 10px;
  background: #d41713;
  color: white;
  transition: font-weight 500ms ease-in;
  cursor: pointer;
}

.sign:hover,
.sign:focus {
  font-weight: bold;
}

.mobileNav {
  display: none;
}

.mobileNav .hamburger {
  color: black;
  font-size: 25px;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 875px) {
  .navbar {
    padding: 1em;
  }

  .mobileNav {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }

  .mobileItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7%;
    right: 0;
    width: 100%;
    padding: 5% 0;
    background-color: #d3d3d3e2;
    box-shadow: 0 0 0 100vmax #d3d3d3e2;
  }

  .mobileItems * {
    margin: 10px;
  }

  .linkItems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive {
    display: none;
  }
}