.card {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1em 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  flex-basis: 30%;
}

.texts {
  padding: 1em;
}

.img {
  border-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin-bottom: 1em;
}

.other {
  color: #4e4e4e;
  font-size: 15px;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.texts a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d41713;
  color: white;
  margin-top: 2em;
  padding: 0.75em 5em;
  border-radius: 4px;
  transition: font-weight 500ms ease-in;
  text-decoration: none;
}

.texts a:hover,
.texts a:focus {
  font-weight: bold;
}
