.product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}

.img {
  border-radius: 10px;
}

.info {
  width: 50%;
}

.button {
  background-color: transparent;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  color: #d41713;
  border: 2px #d41713 solid;
}