.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form * {
  margin: 0.5em;
}

.form label {
  font-size: 25px;
  font-weight: 500;
}

.form input {
  width: 50vmax;
  padding: 15px 1em;
  text-indent: 20px;
  border: 2px solid #d41713;
  border-radius: 2px;
  border-radius: 10px;
  transition: border 500ms ease-in;
}

.form input:active,
.form input:focus {
  outline: none;
  border: 3px solid #b91b18;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5%;
}
